/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************************************************ */
/*                 Actual styling                   */
/* ************************************************ */


html {
  background-color: #CC7722;
}

#container {
  position: relative;
}

.vcard {
  background-color: white;
  width: 21em;
  height: 10em;
  position: absolute;
  margin-left: -11em;
  left: 50%;
  top: 8em;
  padding: 2%;
  line-height: 120%;
  /* http://blogs.sitepoint.com/eight-definitive-font-stacks-2/ */
  /* font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; */
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

.mediatitle {
  font-family: Cambria, Georgia, serif;
}
.vcard h1 {
  font-weight: bold;
  font-size: 120%;
}
.vcard a.email {
  font-style: italic;
}

.vcard a {
  text-decoration: none;
}
.vcard a, .vcard a:visited {
  color: black;
}
.vcard a:hover {
  color: grey;
}

/* courtesy of css3please.com for these styling extras: */
.rounded {
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4, iOS 1+, Android 1.5+ */
  border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.gradient {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
  background-image: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
  background-image: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
  background-image: linear-gradient(top, #EEEEEE, #FFFFFF);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE', EndColorStr='#FFFFFF');
}
.shadow {
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
}

.mediatitle, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.mediatitle {
  margin-bottom: 10px;
}
.mediatitle img {
  float:left;
  margin-right: 10px;
  display:block;
}

ul {
  list-style-type: inline;
}
ul li {
  display: inline-block;
  width: 7em;
  margin-bottom: .4em;
  float: left;
}
ul li a, .email {
  padding-left: 20px;
}

.blog {
  background: url(../imgs/rss_16.png) no-repeat;
}
.code {
  background: url(../imgs/github_16.png) no-repeat;
}
.twitter {
  background: url(../imgs/twitter_16.png) no-repeat;
}
.facebook {
  background: url(../imgs/facebook_16.png) no-repeat;
}
.linkedin {
  background: url(../imgs/linkedin_16.png) no-repeat;
}
.google {
  background: url(../imgs/google_16.png) no-repeat;
}

.email {
  background: url(../imgs/email_16.png) no-repeat;
}

